# gitignore for Starland

# Mac Nature
.DS_Store

# Unity Nature
_BuildAndRun/
Temp/
Library/
TestBuild.app
Logs/
UserSettings/

# unity assets
Assets/Store/*
!Assets/Store/README.md*
# Assets/Plugins/*
# !Assets/Plugins/README.md*
Assets/AssetBundles/*
!Assets/AssetBundles/README.md*
Assets/StreamingAssets/*

Assets/Modules/*.zip*
Assets/Modules/**.prefab*
Assets/Modules/_descriptors*
Assets/Resources/*.zip*
Assets/InitTestScene*

Assets/Modules/_artpacks/**/Prefabs/
Assets/Resources/Build/githash.txt*

# Visual Studio Nature
bin/
obj/
.vs/
Assets/_DLLs/*.dll
Assets/_DLLs/*.dll.*

# MonoDevelop Nature
#**.sln
#**.userprefs
#**.csproj


# Intellij nature
**/.idea
**.iml